body {
  background-color: powderblue;
}

h1.typeh1 {
  color: rgb(0, 217, 255);
  font-family: verdana;
  font-size: 300%;
}

.fit-picture {
  max-width: 100%;
  height: auto;
}
h2.typeh2
{
  text-align: center;
    color: rgb(80, 59, 59);
    font-family: verdana;
    font-size: 200%;
  }
p.type1  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
p.type2  {
  color: rgb(0, 255, 255);
  font-family: courier;
  font-size: 160%;
}
p.type3  {
  color: rgb(255, 0, 179);
  font-family: courier;
  font-size: 160%;
}
p.type4{
  color: rgb(255, 0, 179);
  font-family: courier;
  font-size: 150%;
}
p.type5{
  color: rgb(4, 0, 255);
  font-family: courier;
  font-size: 130%;
}
th.type6{
  color:rgb(126, 122, 122);
  font-size: 200%;
  font-family:sans-serif;
}
th.type7
{
  color:rgb(255, 251, 0);
  font-size: 200%;
  font-family:Times New Roman;
}
th.type8
{
  color:rgb(4, 0, 255);
  font-size: 200%;
  font-family: Verdana;
}
th.type9
{
  color:rgb(247, 0, 214);
  font-size: 160%;
  font-family: sans-serif;
}
th.type10
{
  color:rgb(43, 44, 46);
  font-size: 160%;
  font-family: Helvetica;
}
th.type11
{
  color:rgb(201, 26, 35);
  font-size: 160%;
  font-family: Arial;
}
.border4{
  border: 5px solid #000; 
  padding: 1px; 
  font-size: 200%;
  font-family: verdana;
}
.fit-picture{
  width: 100%;
  height: auto;
  align:middle;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: powderblue;
    .fit-picture{
      width: 100%;
      height: auto;
    }
  }
